<div class="container">
     <h4 style="margin-top:30px;">商品新規登録</h4>
      <%= form_with model:@item, url:admin_items_path do |f| %>
     <div class="form-group row">
      <label for="item-image" class="col-sm-2">商品画像</label>
         <%= f.file_field :image, accept: "image/*" %><br>
     </div>
     <div class="form-group row">
      <label for="items-name" class="col-sm-2">商品名</label>
         <%= f.text_field :name %><br>
      </div>
      <div class="form-group row">
       <label for="items-description" class="col-sm-2">商品説明</label>
         <%= f.text_field :description %><br>
      </div>
      <div class="form-group row">
       <label for="itemes-genre" class="col-sm-2">ジャンル</label>
         <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください" %><br>
      </div>
      <div class="form-group row">
      <label for="items-price" class="col-sm-2">税抜価格</label>
         <%= f.text_field :price %><br>
      </div>
      <div class="form-group row">
       <label for="items-is_active" class="col-sm-2">販売ステータス</label>
      <div class="ml-1">
         <%= f.radio_button :is_active, true %>
         <%= f.label :is_active, "販売中" %>
      </div>
      <div class="ml-3">
         <%= f.radio_button :is_active, false %>
         <%= f.label :is_active, "売切れ" %><br>
      </div>
      </div>
      <%= f.submit "新規登録", class:"btn btn-success" %> 
      <% end %>
</div>