<div class="container-fluid p-5 mb-5">
  <div class="row h5 pb-4">
    <div class="text-center col-auto offset-sm-2 h-25">管理者ログイン</div>
  </div>

  <%= form_with model: @admin, url: admin_session_path do |f| %>

  <div class="field row justify-content-center mb-2">
    <div class="col-sm-4 w-100">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "w-75" %>
    </div>
  </div>

  <div class="field row justify-content-center mb-4">
    <div class="col-sm-4">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "w-75" %>
    </div>
  </div>

  <div class="actions field row justify-content-center">
    <div class="col-sm-4 offset-sm-2">
      <%= f.submit "ログイン", class: "btn btn-primary w-25 btn-sm" %>
    </div>
  </div>

  <% end %>
<%= render "admin/shared/links" %>
</div>