 <div class="row">
  <div class="col-md-12">
   <div class="d-flex align-items-center justify-content-center">
	<img src="assets/logo.jpg" alt="参考画像" class="img-thumbnail" style="width:50%">
   </div>
  </div>
 </div>
  <div class="row">
   <div class="col-md-8 col-md-offset-2">
	<div class="d-flex align-items-center justify-content-center">
	<p>
	<span class="welcome">Welcome NaganoCake</span><br>
	このサイトは、ケーキ販売のECサイトになります。<br>
	会員でない方も商品の閲覧はできますが、<br>
	購入には会員登録が必要になります。<br>
	</p>
	</div>
   </div>
  </div>
   <div class="row">
		<div class="col-md-12">
			<br>
		  <h2>新着商品</h2><br>
			<table class="table table-borderless">
			  <tbody>
			    <tr>
			    	<% @items.each do |item| %>
			      <td>
			      	<%= link_to item_path(item.id) do %>
			      	<% if item.image.attached? %>
			            <%= image_tag item.image, size: '165x105', class:"attachment item image fallback" %>
			          <% else %>
			            <%= image_tag 'no_image', size: '165x105', class:"attachment item image fallback" %>
			          <% end %><br>
			      <%= item.name %><% end %><br>
			      ¥<%= item.price.to_s(:delimited) %>
			      </td>
			      <% end %>
			    </tr>
			  </tbody>
			</table>
			<p class="text-right"><%= link_to items_path do %>全ての商品を見る<% end %></p>
		</div>
 </div>
 </div>