<div class="admins_order_show">
<h2>注文明細</h2>
    <table class="table table_orders_show">
      <tbody>
      <tr>
        <th>購入者</th>
        <td><%= link_to admins_customer_path(@order.customer) do %>
        <%= @order.customer.last_name %>
        <%= @order.customer.first_name %>
        <% end %>
        </td>
      </tr>

      <tr>
        <th>配送先</th>
        <td><%= @order.address %></td>
      </tr>

      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method %></td>
      </tr>

      <tr>
        <th>注文ステータス</th>
        <td>
        <%= form_for (@order), url:admins_order_path(@order) do |f| %>
        <%= f.select :order_status,Order.order_statuses.keys.to_a %>
        <%= f.submit "更新", class: "btn btn-success" %>
        <% end %>
        </td>
      </tr>

    </tbody>
