<div class="container-fluid p-5">
  <div class="row h5 pb-4">
    <div class="text-center col-auto bg-light offset-sm-2 h-25">注文履歴詳細</div>
  </div>
  <div class="row">
    <table class="table table-borderless col-sm-7 offset-sm-1">
      <tr>
        <th style="width:25%">購入者</th>
        <td style="width:75%">
          <%# <%= link_to admin_orders_path do %>
          <%= @order.customer.last_name %><%= @order.customer.first_name %>
          <%# end %>
        </td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          〒<%= @order.postal_code %> <%= @order.address %><br>
          <%= @order.receiver_name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th class="align-middle">注文ステータス</th>
        <td>
          <%= form_with model: @order, url: admin_order_path(@order) do |f| %>
            <%= f.select :status, Order.statuses_i18n.invert,{} %><%= f.submit "更新", class: "btn btn-success ml-5" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="row mt-3">
    <table class="table col-sm-7 offset-sm-1">
      <tr>
        <thead class="thead-light">
          <th style="width:30%">商品名</th>
          <th class="text-center" style="width:20%">単価（税込）</th>
          <th class="text-center" style="width:10%">数量</th>
          <th class="text-center" style="width:12%">小計</th>
          <th style="width:28%">製作ステータス</th>
        </thead>
      </tr>
      <% @order.order_details.each do |order_detail| %>
      <tr>
        <tbody>
          <td class="align-middle"><%= order_detail.item.name %></td>
          <td class="text-center align-middle"><%= order_detail.item.with_tax_price.to_s(:delimited) %></td>
          <td class="text-center align-middle"><%= order_detail.amount %></td>
          <td class="text-center align-middle"><%= order_detail.subtotal.to_s(:delimited) %></td>
          <td class="align-middle px-o">
            <%= form_with model: order_detail, url: admin_order_detail_path(@order.id, order_detail.id) do |f| %>
              <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, {} %>
              <%= f.submit "更新", class: "btn btn-success btn-sm ml-3" %>
            <% end %>
          </td>
        </tbody>
      </tr>
      <% @total+=order_detail.subtotal %>
      <% end %>
    </table>
    <table class="table table-borderless col-sm-2 offset-sm-1 mt-auto table-sm">
      <tr>
        <th>商品合計</th>
        <td><%= @total.to_s(:delimited) %>円</td>
      </tr>