<div class="row">
  <div class="col-xs-12 ">
<% provide(:title, "ジャンル編集") %>
<h2 class="head-line title_h2 text-center bg-">ジャンル編集</h2>

<% if @genre.errors.any? %>
<%= render "layouts/error_messages", resource: @genre %>
<% end %>

<%= form_with model: [:admin, @genre], local:true do |f| %>
<div class="col-xs-8 col-xs-offset-2">
  <table class="table table-hover table-inverse table-bordered">
     <tr>
<td>ジャンル名</td>
<td><%= f.text_field :name %></td>
<td><%= f.submit "変更を保存", class: "glyphicon glyphicon-home btn btn-success" %></td>
     </tr>
<% end %>
 </table>
</div>
<div class="col-xs-12">
  <%= link_to "戻る", admin_genres_path, class: "glyphicon glyphicon-home btn btn-info" %>
</div>
 </div>
  </div>