<div class="admin_top">
<h4 style="margin-top:30px;">注文履歴一覧</h4>
   <table class="table">
        <thred>
           <tr>
             <th style="background-color:#F5F5F5;">購入日時</th>
             <th style="background-color:#F5F5F5;">購入者</th>
             <th style="background-color:#F5F5F5;">注文個数</th>
             <th style="background-color:#F5F5F5;">注文ステータス</th>
        　</tr>
        </thred>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
             <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %></td>
             <td><%= order.customer.first_name %> <%= order.customer.last_name %></td>
             <td><%= order.order_details.sum(:amount) %></td>
             <td><%= order.status_i18n %></td>
           </tr>
          <% end %>
        </tbody>
       <%= paginate @orders %>
    </table>
 </div>