<div class="admin_top">
<h2>注文履歴一覧</h2>
   <table class="table table-orders">
        <thred>
           <tr>
             <th>購入日時</th>
             <th>購入者</th>
             <th>注文個数</th>
             <th>注文ステータス</th>
        　</tr>
        </thred>

        <tbody>
          <% @orders.each do |order| %>
          <tr>
             <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %></td>
             <td><%= order.customer.first_name %> <%= order.customer.last_name %></td>
             <td><%= order.order_details.sum(:amount) %></td>
             <td><%= order.status_i18n %></td>
           </tr>
          <% end %>
        </tbody>
       <%= paginate @orders %>
    </table>
 </div>