
<div class="row"> 
 <div class = "container">
    <h4 style = "margin-top:30px;">配送先登録/一覧</h4>
     <%= form_for @address do |f| %>
     　<div class="form-group row">
         <label for="addresse_postal_code" class="col-sm-3">郵便番号(ハイフンなし)</label>
          <%= f.text_field :postel_code, class:"col-sm-3" %><br>
       </div>
       <div class="form-group row">
         <label for="addresse_addresse" class="col-sm-3">住所</label>
          <%= f.text_field :address, class:"col-sm-7" %><br>
       </div>
       <div class="form-group row">
         <label for="addresse_receiver_name" class="col-sm-3">宛名</label>
          <%= f.text_field :receiver_name, class:"col-sm-3" %> <%= f.submit "変更内容を保存", class: "btn btn-success mx-auto my-1 btn-sm" %>
        </div>
     <% end %>
 </div>
</div>
