td class="text-left">
  <%= attachment_image_tag( carts.item, :image, size: "55x43", fallback: "no_image.jpg") %>
  <%= carts.item.name %>
</td>
<td class="text-right">
  ¥<%= price(carts.item.price).to_s(:delimited) %>
</td>
<td>
  <%= form_for(carts, url: customers_carts_path(carts), method: :patch , remote: true)do |f| %>
    <%= f.number_field :quantity, class: "quantity", size: 10, min: 1, id: "quantity_cart" %>
    <%= f.submit "変更", class: "btn btn-info" %>
  <% end %>
</td>
<td class="text-right" id='sub_price-<%= carts.id %>'>
  ¥<%= price(carts).to_s(:delimited) %>
</td>
<td>
  <%= link_to " 削除する", customers_carts_path(carts), method: :delete, remote: true, data: {confirm: "#{carts.item.name}を削除してよろしいですか？"}, class: "glyphicon glyphicon-trash btn btn-danger" %>
</td>