<div class="container-fluid p-5">
  <div class="row h5 pb-4">
    <div class="text-center col-auto bg-light offset-sm-2 h-25">注文履歴一覧</div>
  </div>

<div class="row">
  <table class="table table-bordered col-sm-10 offset-sm-1">
    <tr>
      <thead class="thead-light">
        <th class="font-weight-normal" style="width:12%">注文日</th>
        <th class="font-weight-normal" style="width:43%">配送先</th>
        <th class="font-weight-normal" style="width:14%">注文商品</th>
        <th class="font-weight-normal" style="width:10%">支払金額</th>
        <th class="font-weight-normal" style="width:11%">ステータス</th>
        <th class="font-weight-normal" style="width:10%">注文詳細</th>
      </thead>
    </tr>

<% @orders.each do |order| %>

    <tr>
      <tbody>
        <td class="align-middle"><%= order.created_at.strftime("%Y/%m/%d") %></td>
        <td class="align-middle py-0">
          〒<%= order.postal_code %><br>
          <%= order.address %><br>
          <%= order.receiver_name %>
        </td>
        <td class="align-middle py-0">
          <% order.order_details.each do |order_detail| %>
          <%= order_detail.item.name %><br>
          <% end %>
        </td>
        <td class="align-middle"><%= order.billing_amount.to_s(:delimited) %>円</td>
        <td class="align-middle"><%= order.status_i18n %></td>
        <td class="align-middle"><%= link_to "表示する", order_path(order.id), class: "btn btn-sm btn-primary w-100" %></td>
      </tbody>
    </tr>
<% end %>
</table>

<div class="row justify-content-center"><%= paginate @orders %></div>

</div>