
<% if @order.errors.any? %>
  <%= @order.errors.count %>件のエラーが発生しました
    <% @order.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
<% end %>

<div class="container-fluid p-5">
  <div class="row h5 pb-4 ">
    <div class="text-center col-auto bg-warning offset-sm-2 h-25">注文情報入力</div>
  </div>

<%= form_with model: @order, url:orders_confirm_path, local:true do |f| %>

<div class="row d-flex flex-column mb-3">
  <h5 class="offset-sm-1">支払方法</h5>
    <div class="col-10 ml-3 mx-auto">
      <%= f.radio_button :payment_method, :"credit_card", {} %>
      <%= f.label :payment_method, "クレジットカード", {value: :"0"} %>
    </div>
    <div class="col-10 ml-3 mx-auto">
      <%= f.radio_button :payment_method, :"transfer", {:checked => true} %>
      <%= f.label :payment_method, "銀行振込", {value: :"1"} %>
    </div>
</div>
      

<div class="row d-flex flex-column">
  <h5 class="offset-sm-1">お届け先</h5>
    <div class="col-10 ml-3 mb-2 mx-auto">
      <div class="row d-flex flex-column">
        <div class="col">
          <%= f.radio_button :select_address, :"0", {:checked => true} %>ご自身の住所
        </div>
        <div class="col-10 ml-4">
          <p class="mb-0">
            〒<%= @customer.postal_code %> <%= @customer.address %><br>
            <%= @customer.last_name %><%= @customer.first_name %>
          </p>
        </div>
    </div>
</div>

<div class="col-10  ml-3 mb-2 mx-auto">
  <div class="row d-flex flex-column">
    <div class="col">
      <%= f.radio_button :select_address, :"1", {} %>登録済み住所から選択
    </div>
    <div class="col ml-4 pr-5">
      <%= f.collection_select :address_id, Address.all, :id, :address, include_blank: "選択して下さい" %>
    </div>
  </div>
</div>

<div class="col-10 ml-3 mb-3 mx-auto">
  <div class="row d-flex flex-column">
    <div class="col">
      <%= f.radio_button :select_address, :"2", {} %>新しいお届け先
    </div>
    <table class="col-8 table table-borderless ml-4">
      <tr>
        <td class="pl-0"><%= f.text_field :postal_code , class:"form-control address_postcode", placeholder: "お届け先の郵便番号" %></td>
      </tr>
      <tr>
        <td class="pl-0"><%= f.text_field :address , class:"form-control address_address", placeholder: "お届け先住所" %></td>
      </tr>
      <tr>
        <td class="pl-0"> <%= f.text_field :receiver_name , class:"form-control address_name", placeholder: "新しい宛名" %></td>
      </tr>
    </table>
  </div>
</div>
</div>

 <div class="row justify-content-center">
    <%= f.submit "確認画面へ進む", class: "btn btn btn-warning w-25 btn-sm" %>
  </div>
  
  <% end %>
</div>
