<h3>注文履歴詳細</h3>

<h1>注文情報</h2>
<table>
  <tbody>
    <tr>
      <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
    </tr>
    <tr>
      <th>配送先</th>
        <td><%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.receiver_name %></td>
    </tr>
    <tr>
      <th>支払方法</th>
        <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th>ステータス</th>
        <td><%= @order.status %></td>
    </tr>
  </tbody>
</table>

<h1>請求情報</h1>
<table>
  <tr>
    <th>配送料</th>
      <td>¥<%= @order.postage.to_s(:delimited, delimiter: ',') %></td>
  </tr>
  <tr>
    <th>商品合計</th>
       <td>¥<%= (@order.billing_amount - @order.postage).to_s(:delimited, delimiter: ',') %></td>
  </tr>
  <tr>
    <th>ご請求金額</th>
      <td>¥<%= @order.billing_amount.to_s(:delimited, delimiter: ',') %></td>
  </tr>
</table>

<h1>注文内容</h1>
<table>
  <thead>
    <tr>
      <th>商品</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td>¥<%= (order_detail.item.price * 1.1).floor.to_s(:delimited, delimiter: ',') %></td>
        <td><%= order_detail.amount %></td>
        <td>¥<%= ((order_detail.item.price * 1.1).floor * (order_detail.amount)).to_s(:delimited, delimiter: ',') %></td>
      </tr>
        <% end %>
    </tbody>
</table>
