<% provide(:title, "#{@item.name}") %>
<div class="row">
    <div class="col-xs-4 col-xs-offset-2 product-show">
      <%= image_tag @item.image, size: "200x200" %>
    </div>

    <div class="col-xs-6 product-show">
      <div class="product-description">
        <div class="field product-name">
          <h2><%= @item.name %></h2>
        </div>
        <div class="field">
          <%= @item.description %>
        </div>
        <div class="field product-price">
          <h3>¥ <%= @item.price %>(税込)
          </h3>
        </div>
      </div>

      <div class="field">
        <% if @item.is_active == true %>
            <%= form_with model: @cart, url: carts_path, method: :post do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.select :count, options_for_select((1..10).to_a), include_blank: "個数選択" %>
              <%= f.submit "カートに入れる", class: "glyphicon glyphicon-shopping-cart btn btn-primary" %>
            <% end %>
        <% else %>
        <% @item.is_active == false %>
          <h3>売り切れ中</h3>
        <% end %>
      </div>
    </div>
</div>